* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-image: linear-gradient(to bottom, white, lavender);
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.instruction {
    position: absolute;
    left: 2rem;
    top: 5rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 20px darkblue;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.info-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.mode {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    justify-content: center;
    gap: 40px; 
}


.items img {
    width: 130px;
    height: 130px;
}

.scissors, .rock, .paper {
    border-radius: 50%;
}

.player-s:hover, .player-r:hover, .player-p:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.player-s:hover {
    box-shadow: 4px 4px 20px darkgreen;
}
.player-r:hover {
    box-shadow: 4px 4px 20px darkgoldenrod;
}
.player-p:hover {
    box-shadow: 4px 4px 20px darkmagenta;
}

button {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    background-color: white;
    border: none;
    box-shadow: inset 1px 0px 5px blue, -1px 0px 10px purple;
}

button:hover {
    transition: .3s ease-in-out;
    transform: scale(0.95);
}

input[type="text"] {
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    font-size: 1.1em;
    text-align: center;
}

.input-name, .restart, .next, .with-pc, .with-friend {
    display: none;
}

.error {
    color: red;
    display: none;
}

.unactive {
    cursor: not-allowed;
    transition: .3s ease-in-out;
    transform: scale(0.95);
    background-color: grey;
    color: white;
    box-shadow: inset 1px 0px 5px lightcoral, -1px 0px 10px lightblue;
}

.unactive:hover {
    transform: scale(1);
}

.impress {
    animation: impress .6s ease-in-out;
}

@keyframes impress {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

